//Centrado absoluto
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Limpieza de listas
%reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

//Texto truncado, cuando los títulos son muy largos
%text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
