//Colores
$gold: #d5966c;
$almost-black: #151515;
$dark-grey: #888888;
$light-grey: #bcb6b6;
$white: #ffffff;

//Tipografía
$font-primary: "Big Shoulders", sans-serif;
$font-secondary: "Outfit", sans-serif;
