* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Para que las imágenes no se salgan de su contenedor
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Para que los inputs y botones hereden la fuente que elijas
input,
button,
textarea,
select {
  font: inherit;
}

body {
  overflow-x: hidden;
}
